@font-face {
	 font-family: 'iconfontApp';  /* project id 946401 */
  src: url('http://at.alicdn.com/t/font_946401_8m48vi4805p.eot');
  src: url('http://at.alicdn.com/t/font_946401_8m48vi4805p.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_946401_8m48vi4805p.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_946401_8m48vi4805p.woff') format('woff'),
  url('http://at.alicdn.com/t/font_946401_8m48vi4805p.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_946401_8m48vi4805p.svg#iconfontApp') format('svg');
}

.iconfontApp {
  font-family: "iconfontApp" !important;
  font-size: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhi:before {
  content: "\e63e";
}

.icon-querenmima:before {
  content: "\e861";
}

.icon-querenmima1:before {
  content: "\e6a7";
}

.icon-yonghuming:before {
  content: "\e660";
}

.icon-shouji:before {
  content: "\e607";
}

.icon-tuichu1:before {
  content: "\e612";
}

.icon-jiantou:before {
  content: "\e611";
}

.icon-dengluye-:before {
  content: "\e634";
}

.icon-zh-cardid:before {
  content: "\e66d";
}

.icon-xiugai1:before {
  content: "\e610";
}

.icon-wode:before {
  content: "\e60b";
}

.icon-hangyedongtai:before {
  content: "\e60c";
}

.icon-xiaoshouguanli:before {
  content: "\e60d";
}

.icon-zhuye:before {
  content: "\e60e";
}

.icon-gongsijieshao:before {
  content: "\e60f";
}

.icon-dengluye--copy:before {
  content: "\e862";
}

